<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title, dynamically set by child templates -->
    <title>{% block title %}Task Manager App{% endblock %}</title>
    <!-- Link to the main stylesheet for global styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Block to display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <!-- Container for styling flash messages -->
        <div class="flash_box">
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      {% endif %}
    {% endwith %}

    <!-- Navigation bar containing dynamic links for login/logout -->
    <nav class="user-nav">
        {% if current_user.is_authenticated %}
            <!-- Content displayed for logged-in users -->
            <div class="user">
                <span>Hello, <b>{{ current_user.user_name }}</b></span>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        {% else %}
            <!-- Content displayed for non-authenticated users -->
            <div class="user">
                <!-- Shows the login link only if not on the login page -->
                {% if request.endpoint != 'login' %}
                <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
                <!-- Shows the register link only if not on the register page -->
                {% if request.endpoint != 'register' %}
                <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        {% endif %}
    </nav>

    <!-- Main container for page content -->
    <div class="container">
        <!-- This block will be filled by specific page content from child templates -->
        {% block content %}{% endblock %}
    </div>
</body>
</html>
