{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="content-container">
        <!-- Page heading for the login form -->
        <h1 class="main-heading">Login</h1>

        <!-- Form for user login. -->
        <form method="POST">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            
            <input type="submit" value="Login" class="btn btn-primary">
        </form>

        <hr>

        <p class="text-center">
            Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
        </p>
    </div>
{% endblock %}
