{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- Page heading for the registration form -->
    <h1>Login</h1>

    <!--
    Form for user login.
    The "POST" method sends the form data to the same URL (/login) for processing.
    -->
    <form method="POST">
        <!-- Input field for the user's email, using type="email" for client-side validation -->
        <label for="email">E-mail:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <!-- Input field for the password, using type="password" to hide the input -->
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Submit button login -->
        <input type="submit" value="Login"><br><br>
    </form>
{% endblock %}
